body {
background-color: LightGray;

}
div {
    border: 1px solid Chocolate;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.top-navigation .links {
	float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
    margin-left: 25px;
    color:#838994;
}
.top-navigation .links .active {
	color: #838994;
    font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
    color: black;
}
.logo {
	padding: 0px 15px; 
}

/* Background */
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}
.introduction .content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
    }
.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}
.introduction .big-button {
    text-shadow: none;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #f15a29;
    border-color: #f15a29;
    width: 9.688rem;
    color: white;
    font-size: 1.125rem;
    margin: 0 auto;
    display: block;
}
 	.big-button:hover {
	background-color: #f15a88;

}
/*Body*/
.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
    width: 33.3333333%;
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
}
.cases .content h2{
    display: block;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    padding: 0;
}
.cases .devices h3 {
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
.cases .content .devices li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.cases .content ul {
    list-style: none;
}


