html {
  box-sizing: border-box;
}
body {
background-color: ;

}
div {
    border: ;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 100px;
    border-top: 0;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sixing: ;
}
.top-navigation .links {
	float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    margin-right: 20px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
    margin-left: 25px;
    color:#838994;
}
.top-navigation .links .active {
	color: #4c5058;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.top-navigation a {
	background-color: transparent;
    text-decoration: none;
    color: gray;
}
.top-navigation a:hover {
	background-color: transparent;
    text-decoration: none;
    color: #4c5058;
}
.logo {
	padding: 0px 15px; 
	height: 4.375rem;
    margin-left: 30px;
}

/* Background */
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}
.introduction .content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
.introduction h1 {
	padding-top: 17.5rem;
    font-size: 3.125rem;
    margin-top: 0;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
    }
.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
    display: block;
    margin: .67em 0;
    -webkit-font-smoothing: antialiased;
}
.introduction .big-button {
    text-shadow: none;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #f15a29;
    border-color: #f15a29;
    width: 9.688rem;
    color: white;
    font-size: 1.125rem;
    margin: 0 auto;
    display: block;
    -webkit-font-smoothing: antialiased;
}
 	.big-button:hover {
	background-color: rgba(225, 225, 225, 0.85);

}
/*Body*/
.cases .devices {
    display: inline-block;
    /* styles to assist with debugging */
    height: 4em;
    width: 33%;
    
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.cases .content h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align: center;
    display: block;
}
.cases .devices h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
    display: block;
}
.cases .content .devices li {
    display: list-item;
    text-align: -webkit-match-parent;
    -webkit-font-smoothing: antialiased;
}
.cases .content ul {
    list-style: none;
}
/*Footer & Social Links*/
.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
    margin: 0 auto;
    padding: 10;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    width: 800px;
    border-top: 1px solid #ccc;
    margin-top: 100px;
}
.social .content >h5{
	font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 1.625rem 0 0.125rem;
    font-weight: 300;
    text-align: center;

}
.social .icons {
	display: inline;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.social .icons >ul {
	list-style: none;
	

}
.social .icons >li {
	border-radius: 1.25rem;
	box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    vertical-align: baseline;
}
.social .copy {
	color: LightGray;
	font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.fa-twitter:before {
    content: "\f099";
    color: #55acee;
}
.fa-facebook:before {
    color: #4c66a4;
}
.fa-instagram:before {
	color: #3f729b;
}

